@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&family=Markazi+Text:wght@400..700&display=swap');

html {
  scroll-behavior: smooth;
}

h1, h2, h4 {
  font-family: 'Markazi Text', serif;
}

p, button, input {
  font-family: 'Karla', serif;
}

.center-section {
  width: 85%;
  margin-left: 6.75%;
}