main {
    margin: auto 5%;
}

#confirmationHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#confirmationHeader img {
    width: 8rem;
    height: auto;
}

#confirmationHeader h1 {
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 36pt;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dateTimeText {
    font-size: 14pt;
    font-weight: 500;
}